@charset "utf-8";
/* CSS Document */

body {
	margin:0px;
	}
	
#zaglavlje {
	height:130px;
	padding: 3px 15px 3px 15px;
	background:#1D291F;
	
	}

a {
	color:#FFF;
	text-decoration:none;
	font-size:18px;
	
	}
	
#nav {
	background:#000;
	padding: 3px 15px 3px 15px;
	
	
	}
	
#galerijaSlika {
	padding:15px;
	margin:auto;
	
	
	}